html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    }

    body {
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        }
    
.grid {
    display: grid;
  margin-top: 2.5vh;
  margin-left: 2.5vw;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 2.5vw 45vw 5vw 45vw 2.5vw;
  grid-template-rows: 2.5vh 30vh 2.5vh 30vh 2.5vh 30vh 2.5vh;

}

.arm {
  grid-column: 1/2;
  grid-row: 1/2;
}

.tentacle {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .water {
    grid-column: 1/3;
    grid-row: 2;
  }

  .bell {
    grid-column: 1/2;
    grid-row: 3;
  }

  .mouth {
    grid-column: 2/3;
    grid-row: 3;
  }