html {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    }

    body {
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
        background-color: black;
        }
    
.grid {
    display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 2.5vw 45vw 5vw 45vw 2.5vw;
  grid-template-rows: 2.5vh 30vh 2.5vh 30vh 2.5vh 30vh 2.5vh;

}

button {
    font-size: 8vw;
    font-family: 'Trebuchet MS';
    border-radius: 6%;
    border-color:  #5500aa;
border-style: solid;
color: white;
    background-color: black;
    border-width: 1vw;
}

.arm {
  background-image: url('https://experimenting-webux2.herokuapp.com/pic/arm_button.png');
  background-size: cover;
  background-position: top center;
  grid-column: 2/3;
  grid-row: 2/3;
}

.tentacle {
  background-image: url('https://experimenting-webux2.herokuapp.com/pic/tentacle_button.png');
  background-size: cover;
  background-position: top center;
    grid-column: 4/5;
    grid-row: 2/3;
  }

  .moveLeft {
    background-image: url('https://experimenting-webux2.herokuapp.com/pic/left_button.png');
    background-size: cover;
    background-position: left;
    grid-column: 2/3;
    grid-row: 4/5;
  }
  .moveRight{
    background-image: url('https://experimenting-webux2.herokuapp.com/pic/right_button.png');
    background-size: cover;
    background-position:right;
    grid-column: 4/5;
    grid-row: 4/5;
  }

  .mouth {
    background-image: url('https://experimenting-webux2.herokuapp.com/pic/glow_button.png');
    background-position: center;
    background-size: cover;
    grid-column: 2/5;
    grid-row: 6/7;
  }
  .active {
    background-color: white;
    color: black;
    mix-blend-mode: hard-light;
  }